

<div class="container">
    <div class="frame">
      <div class="nav">
        <ul  style="padding-left: 150px;">
          <li class="signin-active"><a class="btn">Sign in</a></li>
        </ul>
      </div>
      <div >
                  <div class="form-signin" >
            <label >Username</label>
            <input class="form-styling" type="text" name="username" [(ngModel)]="username" placeholder="username"/>
            <label >Password</label>
            <input class="form-styling" type="text" name="password" [(ngModel)]="password" placeholder="Password"/>
            <input type="checkbox" id="checkbox"/>
           
            <div class="btn-animate">
              <button class="btn-signin" (click)=clicked()>Sign in</button>
            </div>
          </div>
          
              
      
        
    </div>
      
    
      

  </div>

